.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ad-banner img {
  max-width: 100%;
  height: auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 모바일에 대한 스타일 */
@media (max-width: 768px) {
  /* 모바일 전용 스타일 */
}

/* 데스크톱에 대한 스타일 */
@media (min-width: 769px) {
  /* 데스크톱 전용 스타일 */
}

.issue-detail-content {
  display: flex;
  align-items: center;
}

.issue-container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center; 
}

.comment {
  justify-self: end;
}